.grey-wrapper a{
    text-decoration: none;
    color: var(--white);
}
.grey-wrapper h3, .grey-wrapper p{
    padding-inline: 0.5rem;
}

.grey-wrapper p{
    text-align: justify;
    line-height: 2;
    /* justify-content: center; */
}

span{
    cursor: pointer;
    color: var(--grey);
}