.grid-flex{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    margin: 1rem 2rem;
    flex-wrap:wrap;
}

table{
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 800px) {
    table{
        width: 95%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 450px) {
    table{
        width: 98%;
        margin: 0 auto;
    }

    .ff{
        font-size: 1rem !important;
    }
}